* {
  box-sizing: border-box;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  padding: 0;
  overflow-x: hidden; 
  background-color: aliceblue;   
}

.navbar {
  /* background-color: rgb(135, 143, 52); */
  background-color: #BDB76B;
  padding: 14px 20px;
  margin: -12px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.navbar .nav-link {
  color: #ffffff;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar .nav-link:hover {
  text-decoration: underline;
}
.active {
  background-color: #BC8F8F;   
  padding: 4px 10px;     
  border-radius: 7px;
}

/* Managing State in React (Overview) */
.form-state {
  margin-bottom: 10px;
}

.accordion {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.panel {
  padding: 10px;
  border: 1px solid #aaa;
}

.panel h3, .panel p {
  margin: 5px 0;
}

.messenger {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.contact-list ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-list li button {
  width: 100px;
  padding: 10px;
  margin-right: 10px;
}
.chat textarea {
  height: 150px;
}


button { 
  margin: 5px; 
  padding: 5px 10px;
  cursor: pointer;}
li { list-style-type: none; }
ul, li { margin: 0; padding: 0; }

input[type="checkbox"] { margin-right: 10px; }
input[type="text"] { padding: 6px; }

.section {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
  line-height: 1.5;
}
