* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  padding: 0;
  overflow-x: hidden; 
  background-color: aliceblue;   
}

.navbar {
  background-color: #BDB76B;
  padding: 14px 20px;
  margin: -12px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.navbar .nav-link {
  color: #ffffff;
  text-decoration: none;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.navbar .nav-link:hover {
  text-decoration: underline;
}

.active {
  background-color: #BC8F8F;   
  padding: 4px 10px;     
  border-radius: 7px;
}

.heading {
  margin: 20px 0 10px;
}

/* Managing State in React (Overview) */
.form-state {
  margin-bottom: 10px;
}

.Error { color: red; }

.accordion {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.panel {
  padding: 10px;
  border: 1px solid #aaa;
}

.panel h3 {
  margin: 5px 0;
}
.panel p {
  transition: opacity 0.3s ease;
  margin: 5px 0;
}

.messenger {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}

.contact-list ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-list li button {
  width: 100px;
  padding: 10px;
  margin-right: 10px;
}
.chat textarea {
  height: 150px;
}

button { 
  margin: 5px; 
  padding: 5px 10px;
  cursor: pointer;
}
/* li { list-style-type: none; }
ul, li { margin: 0; padding: 0; } */

input[type="checkbox"] { margin-right: 10px; }
input[type="text"], input[type="email"] { padding: 6px; }

.section {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
  line-height: 1.5;
}


/* Challenge 1 (Reacting to Input State) */
.background {
  width: 40vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  margin: 20px 0;
}

.background--active {
  background: #a6b5ff;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 5px solid transparent;
}

.picture--active {
  border: 5px solid #a6b5ff;
}

/* Challenge 2 (Reacting to Input State) */

.edit-profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: #26eea1; */
}

/* Choosing the State Structure */
.menu {
  list-style-type: none;
}
.menu li {
  margin: 0;
  padding: 0;
}

.selected {
  background-color: #f1f1f1;
  padding: 4px 10px;
  border-radius: 7px;
  width: 40%;
}

/* Sharing State Between Components */

/* Preserving and Resetting State  */
.label-counter {
  display: block;
  clear: both;
}

.counter {
  width: 200px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 20px;
  margin: 0 20px 20px 0;
  float: left;
}

.hover {
  background: #ffffd8;
}

.fancy {
  border: 5px solid gold;
  color: #ff6767;
}

.scoreboard {
  width: 200px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 20px;
  margin: 0 20px 10px 0;
}
.scoreboard.fancy {
  border: 5px solid gold;
  color: #ff6767;
}

/* .chat, .contact-list {
  float: left;
  margin-bottom: 20px;
} */

.new-contact-list {
  padding-inline-start: 20px;
}
.new-contact-list, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.new-contact-list li {
  display: inline-block;
}
.new-contact-list li button {
  padding: 10px;
}

.edit-contact label {
  display: block;
  margin: 10px 0;
}
.edit-contact button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.gallery-img {
  width: 150px;
  height: 150px;
}